#title{
    margin-top: 2%;
    text-align: center;
    width: 100%;
    font-size: 3rem;
}

/*
#ItemListContainer{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}*/

.column{
    height: 1vp;
}